*{
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#box{
    border-radius: 20px;
    width: 10px;
    height: 10px;
}
#container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
    #inputs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #fundoDesenho{
        background-color: rgb(244, 244, 245);
        width: 32vw;
        height: 35vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        #desenho{
            width: 22vw;
            height: 22vw;
            background-color: rgb(0, 0, 0);
            clip-path: polygon(50% 0, 0 100%, 100% 100%);
            rotate: 180deg;
        }
        #movimentoTriangulo, #movimentoQuadrado, #movimentoElipse{
            display: none;
        }
        .botaoFormato{
            border: 0;
            border-radius: 5px;
            padding: 5px 8px;
            background-color: rgb(13, 13, 71);
            color: aliceblue;
            font-size: 1.5rem;
            transition: 0.2s;
        }
            .botaoFormato:hover{
                background-color: rgb(71, 71, 136);
            }
    @media (width < 900px) {
        #container{
            flex-direction: column;
        }
    }
